:root {
  --color__animal: #ff5e00;
  --color__fish: #42d3ff;
  --color__hat: #b96cff;
  --color__plant: #4bff00;
  --color__legendary: yellow;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

.filter-input-wrapper {
  width: 50vmax;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 10px;
  left: 50%;
  right: 0;
  z-index: 400;
  transform: translateX(-50%);
}
.filter-input-wrapper custom-auto-complete-input {
  width: 100%;
}
.filter-input-wrapper .filter-tag {
  font-size: 1em;
  line-height: 0em;
  padding: 0.6em 0em 0.6em 0.5em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border: solid 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  margin-top: 0.25em;
  margin-right: 0.25em;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.filter-input-wrapper .filter-tag__icon {
  width: 1em;
  height: 1em;
  border: solid 3px;
  border-radius: 0.25em;
  margin-right: 0.5em;
  display: inline-block;
  box-shadow: 0 0 0px 1px #776245;
}
.filter-input-wrapper .filter-tag__icon[data-sub-type*="Legendary"] {
  border-color: var(--color__legendary);
}
.filter-input-wrapper .filter-tag__icon[data-type="Animal"] {
  background: var(--color__animal);
}
.filter-input-wrapper .filter-tag__icon[data-type="Fish"] {
  background: var(--color__fish);
}
.filter-input-wrapper .filter-tag__icon[data-type="Hat"] {
  background: var(--color__hat);
}
.filter-input-wrapper .filter-tag__icon[data-type="Plant"] {
  background: var(--color__plant);
}
.filter-input-wrapper .filter-tag__close {
  padding: 0.5em;
  display: inline-block;
  user-select: none;
  pointer-events: none;
}

custom-auto-complete-input {
  --custom-autocomplete-max-list-height: 79vh;
}

custom-flyout {
  z-index: 401;
}

.marker-icon-wrapper {
  text-align: center;
}
.marker-icon {
  stroke: #000;
}
.marker-icon[data-sub-type*="Legendary"] {
  stroke: var(--color__legendary);
}
.marker-icon[data-type="Animal"] {
  fill: var(--color__animal);
}
.marker-icon[data-type="Fish"] {
  fill: var(--color__fish);
}
.marker-icon[data-type="Hat"] {
  fill: var(--color__hat);
}
.marker-icon[data-type="Plant"] {
  fill: var(--color__plant);
}
.marker-icon.is--completed {
  opacity: 0.3;
}

.map-wrapper,
.map-container {
  width: 100%;
  height: 100%;
}

.map-container {
  background: #d3b790;
}

.map-container.marker-creator-enabled {
  cursor: crosshair;
}

.leaflet-popup-content {
  font-family: monospace;
  font-size: 1.25em;
}
.leaflet-control-layers {
  text-align: right;
  border: none !important;
  box-shadow: none;
  background: none;
}
.leaflet-control-layers-toggle,
.leaflet-control-layers-list {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}
.leaflet-control-layers-expanded {
  padding: 0;
}
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  background-color: #333;
  display: inline-block;
}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  font-size: 1.25em;
  font-weight: bold;
  text-align: left;
  padding: 0.75em;
}
.leaflet-control-layers-overlays label {
  font-size: 1em;
}

.marker-creator-toggle {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
.marker-creator-toggle input {
  display: none;
}
.marker-creator-toggle input:checked + label {
  color: #59abff;
  background: #333;
}
.marker-creator-toggle label {
  width: 26px;
  height: 26px;
  text-align: center;
  padding: 0.4em 0;
  border: none;
  background: #fff;
  display: block;
  cursor: pointer;
}
.leaflet-touch .marker-creator-toggle {
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
}
.leaflet-touch .marker-creator-toggle label {
  width: 30px;
  height: 30px;
}

.marker-popup__title {
  margin: 0;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.marker-popup__rating {
  margin-right: 0.5em;
  display: inline-block;
}

.marker-popup__completed,
.marker-popup__completed input {
  cursor: pointer;
}
.marker-popup__completed {
  display: flex;
  align-items: center;
}
.marker-popup__completed input {
  width: 2em;
  height: 2em;
  margin: 0;
  margin-right: 0.25em;
}

.marker-popup__icon {
  width: 1em;
  height: 1em;
  border: solid 3px;
  border-radius: 0.25em;
  margin-right: 0.5em;
  display: inline-block;
  box-shadow: 0 0 0px 1px #776245;
}
.marker-popup__icon[data-sub-type*="Legendary"] {
  border-color: var(--color__legendary);
}
.marker-popup__icon[data-type="Animal"] {
  background: var(--color__animal);
}
.marker-popup__icon[data-type="Fish"] {
  background: var(--color__fish);
}
.marker-popup__icon[data-type="Hat"] {
  background: var(--color__hat);
}
.marker-popup__icon[data-type="Plant"] {
  background: var(--color__plant);
}

.marker-popup__nav {
  text-align: right;
  padding: 0.25em;
  border: solid 1px #b6b6b6;
  border-radius: 0.5em;
  display: flex;
}
.marker-popup__nav label,
.marker-popup__nav button {
  width: 100%;
  font-family: monospace;
  font-size: 1em;
  text-align: center;
  white-space: nowrap;
  padding: 0.25em 0.5em;
  border: solid 1px #ddd;
  background: #eee;
  cursor: pointer;
}
.marker-popup__nav label input[type="checkbox"] {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin: 0;
}
.marker-popup__nav :first-child {
  border-radius: 0.25em 0 0 0.25em;
}
.marker-popup__nav :last-child {
  border-radius: 0 0.25em 0.25em 0;
}