*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

custom-flyout {
  z-index: 1000;
}

.map-wrapper,
.map-container {
  width: 100%;
  height: 100%;
}

.leaflet-popup-content {
  font-family: monospace;
  font-size: 1.5em;
}

.marker-creator-toggle {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
.marker-creator-toggle input {
  display: none;
}
.marker-creator-toggle input:checked + label {
  color: #007eff;
}
.marker-creator-toggle label {
  width: 26px;
  height: 26px;
  text-align: center;
  padding: 0.4em 0;
  border: none;
  background: #fff;
  display: block;
  cursor: pointer;
}
.leaflet-touch .marker-creator-toggle {
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
}
.leaflet-touch .marker-creator-toggle label {
  width: 30px;
  height: 30px;
}

.marker-popup__nav {
  text-align: right;
  padding: 0.25em;
  border: solid 1px #eee;
  border-radius: 0.5em;
}
.marker-popup__nav label,
.marker-popup__nav button {
  font-family: monospace;
  font-size: 1em;
  padding: 0.25em 0.5em;
  border: solid 1px #ddd;
  border-radius: 0.25em;
  background: #eee;
  cursor: pointer;
}
.marker-popup__nav label input[type="checkbox"] {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin: 0;
}